---
import { MY_NAME, SITE_TITLE } from "../consts";
const today = new Date();
---

<footer class="text-center">
	<p>
		<a href="/" class="logo"
			><img
				src="/images/EM-Logo-Mark.svg"
				style="width: 60px;"
				class="mb-3"
				alt={SITE_TITLE}
			/></a
		>
	</p>
	<p><small>&copy; {today.getFullYear()} {MY_NAME}. All rights reserved.</small></p>
	<p><small>All trademarks mentioned are copyright their respective owners.</small></p>
</footer>

<!-- MODAL -->
<div
	class="modal fade"
	id="galleryModal"
	data-bs-theme="dark"
	aria-hidden="true"
	aria-labelledby="galleryModal"
	tabindex="-1">
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header">
				<img src="/images/EM-Logo-Mark.svg" style="width: 70px;" alt={SITE_TITLE} />
				<h1 class="float-start modal-title fs-4">Full screen modal</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
				></button>
			</div>
			<div class="modal-body text-center">
				<img src="" class="mx-auto" alt="..." />
			</div>
			<!-- <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
						>Close</button
					>
				</div> -->
		</div>
	</div>
</div>

<script is:inline src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
<script is:inline src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

<script>
	// https://www.npmjs.com/package/lazyload
	let images = document.querySelectorAll("main img");
	lazyload(images);

	// https://getbootstrap.com/docs/5.3/components/modal/#varying-modal-content
	const galleryModal = document.getElementById("galleryModal");
	if (galleryModal) {
		galleryModal.addEventListener("show.bs.modal", (event) => {
			// Button that triggered the modal
			const button = event.relatedTarget;
			// Extract info from data-bs-* attributes
			const imgSrc = button.getAttribute("data-bs-image");
			const titleText = button.getAttribute("data-bs-title");
			// If necessary, you could initiate an Ajax request here
			// and then do the updating in a callback.

			// Update the modal's content.
			const modalTitle = galleryModal.querySelector(".modal-title");
			const modalImg = galleryModal.querySelector(".modal-body img");

			modalTitle.textContent = `${titleText}`;
			modalImg.src = imgSrc;
		});
	}
</script>

<!-- <script is:inline src="https://unpkg.com/@barba/core"></script>
<script is:inline src="https://unpkg.com/gsap@latest/dist/gsap.min.js"></script>
<script type="text/javascript">
barba.init({
	transitions: [
		{
			name: "opacity-transition",
			leave(data) {
				return gsap.to(data.current.container, {
					opacity: 0
				});
			},
			enter(data) {
				return gsap.from(data.next.container, {
					opacity: 0
				});
			},
		},
	],
});
</script> -->
