---
import { MY_NAME, SITE_TITLE } from "../consts";
const today = new Date();
---

<footer class="text-center">
	<p>
		<a href="/" class="logo"
			><img
				src="/images/EM-Logo-Mark.svg"
				style="width: 60px;"
				class="mb-3"
				alt={SITE_TITLE}
			/></a
		>
	</p>
	<p><small>&copy; {today.getFullYear()} {MY_NAME}. All rights reserved.</small></p>
	<p><small>All trademarks mentioned are copyright their respective owners.</small></p>
</footer>

<!-- global modal - portfolio gallery -->
<div
	class="modal fade"
	id="galleryModal"
	data-bs-theme="dark"
	aria-hidden="true"
	aria-labelledby="galleryModal"
	tabindex="-1">
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header">
				<img src="/images/EM-Logo-Mark.svg" style="width: 60px;" alt={SITE_TITLE} />
				<h1 class="float-start modal-title fs-4">Full screen modal</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
				></button>
			</div>
			<div class="modal-body text-center">
				<img src="" class="mx-auto" alt="..." />
			</div>
		</div>
	</div>
</div>

<!-- load barba and gsap first, to prevent buggy performance -->
<script is:inline src="https://unpkg.com/@barba/core"></script>
<script is:inline src="https://unpkg.com/gsap@latest/dist/gsap.min.js"></script>
<script>
	// https://barba.js.org/docs/getstarted/legacy/
	barba.init({
		transitions: [
			{
				name: "opacity-transition",
				leave(data) {
					return gsap.to(data.current.container, {
						opacity: 0,
						duration: 0.4,
					});
				},
				enter(data) {
					return (
						gsap.from(data.next.container, {
							opacity: 0,
							duration: 0.4,
						}),
						scrollTop()
					);
				},
			},
		],
	});
	// this function makes barba smoother, page-to-page
	function scrollTop() {
		window.scrollTo({
			top: 0,
			behavior: "smooth",
		});
	}
</script>
<script is:inline src="https://unpkg.com/lazyload@2.0.0-rc.2/lazyload.js"></script>
<script is:inline src="https://unpkg.com/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script>
	document.addEventListener(
		"DOMContentLoaded",
		function () {
			// https://www.npmjs.com/package/lazyload
			let images = document.getElementsByTagName("img");
			lazyload(images);

			// get active path
			let activePath = window.location.pathname;
			if (activePath.includes("/portfolio")){
				console.log(activePath);
			} 

			// https://getbootstrap.com/docs/5.3/components/modal/#varying-modal-content
			const galleryModal = document.getElementById("galleryModal");
			if (galleryModal) {
				galleryModal.addEventListener("show.bs.modal", (event) => {
					// Button that triggered the modal
					const button = event.relatedTarget;
					// Extract info from data-bs-* attributes
					const imgSrc = button.getAttribute("data-bs-image");
					const titleText = button.getAttribute("data-bs-title");
					// If necessary, you could initiate an Ajax request here
					// and then do the updating in a callback.

					// Update the modal's content.
					const modalTitle = galleryModal.querySelector(".modal-title");
					const modalImg = galleryModal.querySelector(".modal-body img");

					modalTitle.textContent = `${titleText}`;
					modalImg.src = imgSrc;
				});
			}

			// window.onscroll = function () {
			// 	scrollRotate();
			// };

			// function scrollRotate() {
			// 	let image = document.getElementsByClassName("body-bg");
			// 	image.style.transform = "rotate(" + window.pageYOffset / 2 + "deg)";
			// }
		},
		false
	);
</script>
