---
import Layout from "../../layouts/Default.astro";
// import BaseHead from "../../components/BaseHead.astro";
// import Header from "../../components/Header.astro";
// import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
const title = "Automation Anywhere Website Redesign 2023";
const description =
	"The main goal of this project was to modernize, and completely revamp the look and feel of not only the companys corporate website, but all other customer facing subdomains for a consistence brand presence.";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("portfolio")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout
	title={title}
	description={description}
	pubDate={new Date("August 08 2021")}
	heroImage="/blog-placeholder-about.jpg">
	<!-- TO-DO BREADCRUMB -->
	<section class="row title hero-detail">
		<div class="col-lg-6 pe-lg-5">
			<h1 class="col-12 mb-2">{title}</h1>
			<div class="py-3">
				<span class="tag">User Experience</span>
				<span class="tag">User Interface</span>
			</div>
			<h2 class="col-12 mb-5 pb-5 pe-lg-5 description">
				Given the responsibility to revamp the online identity of an enterprise-level software
				company is a stimulating challenge. This project, in particular, required
				collaboration with numerous stakeholders, departments, and technical teams to
				initiate. I assumed a leadership role in shaping the fresh creative direction for this
				renowned Forbes Top 100 Cloud company.
			</h2>
		</div>
		<div class="col-lg-6 card-normal img-container">
			<img src="/images/work/img-hero-aai-website-redesign@2x.png" alt={title} />
		</div>
	</section>
	<section class="row gx-md-5 section-portfolio">
		<div class="col-xl-3 pr-5 section-portfolio-label">
			<i class="fa fa-users-viewfinder"></i>
			<h2 class="pr-5">Overview</h2>
		</div>
		<div class="col-xl-9">
			<div class="row gx-md-5">
				<div class="col-xl-4 pb-5">
					<div class="card card-normal">
						<h3>Credits</h3>
						<ul>
							<li>Edward Margallo</li>
							<li>Gurpreet Singh</li>
							<li>Hermanpreet Singh</li>
							<li>AAI WCS Team</li>
							<li>AAI Creative Team</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4 pb-5">
					<div class="card card-normal">
						<h3>My Role</h3>
						<ul>
							<li>Principal UI Designer</li>
							<li>Design Systems Evangelist</li>
							<li>Co-managing Web Strategy</li>
							<li>Co-managing Stakeholder Meetings</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4 pb-5">
					<div class="card card-normal">
						<h3>Collaboration</h3>
						<ul>
							<li>Marketing Leaders and CMO</li>
							<li>Product Marketing Managers</li>
							<li>Regional/Global Managers</li>
							<li>Web Development Team</li>
							<li>In-house Brand/Creative Team</li>
							<li>Sub-domain Owners</li>
							<li>CRO and SEO</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="row gx-md-5 section-portfolio">
		<div class="col-xl-3 pr-5 section-portfolio-label">
			<i class="fa-regular fa-images"></i>
			<h2 class="pr-5">Project Gallery</h2>
		</div>
		<div class="col-xl-9">
			<div class="card card-portfolio card-padding" style="height: auto !important;">
				<div id="galleryCarousel" class="carousel carousel-dark slide mb-5">
					<div class="carousel-indicators">
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							class="active"
							aria-current="true"
							data-bs-slide-to="0"
							aria-label="Slide 1"></button>
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							data-bs-slide-to="1"
							aria-label="Slide 2"></button>
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							data-bs-slide-to="2"
							aria-label="Slide 3"></button>
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							data-bs-slide-to="3"
							aria-label="Slide 4"></button>
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							data-bs-slide-to="4"
							aria-label="Slide 5"></button>
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							data-bs-slide-to="5"
							aria-label="Slide 6"></button>
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							data-bs-slide-to="6"
							aria-label="Slide 7"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/aai-website/full/HP - AAI.COM 2023 - EM 1.png"
								data-bs-title="Automation Anywhere - Website Redesign">
								<img
									src="/images/work/aai-website/full/HP - AAI.COM 2023 - EM 1.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
						<div class="carousel-item" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/aai-website/full/Product - ASP V2.png"
								data-bs-title="Automation Anywhere - Website Redesign">
								<img
									src="/images/work/aai-website/full/Product - ASP V2.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
						<div class="carousel-item" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/aai-website/full/Cloud Platform - Refresh WDS 3 - 1.png"
								data-bs-title="Automation Anywhere - Website Redesign">
								<img
									src="/images/work/aai-website/full/Cloud Platform - Refresh WDS 3 - 1.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
						<div class="carousel-item" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/aai-website/full/docs.aai.com - detail.png"
								data-bs-title="Automation Anywhere - Website Redesign">
								<img
									src="/images/work/aai-website/full/docs.aai.com - detail.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
						<div class="carousel-item" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/aai-website/full/RPA Security - REFRESH WDS 3.0 - 1 - 1.png"
								data-bs-title="Automation Anywhere - Website Redesign">
								<img
									src="/images/work/aai-website/full/RPA Security - REFRESH WDS 3.0 - 1 - 1.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
						<div class="carousel-item" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/aai-website/full/TEMPLATE Product - Redesign 3.0 - 2 - 1.png"
								data-bs-title="Automation Anywhere - Website Redesign">
								<img
									src="/images/work/aai-website/full/TEMPLATE Product - Redesign 3.0 - 2 - 1.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
						<div class="carousel-item" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/aai-website/full/SCREENSHOT - Customer Stories Listing.png"
								data-bs-title="Automation Anywhere - Website Redesign">
								<img
									src="/images/work/aai-website/full/SCREENSHOT - Customer Stories Listing.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
					</div>
					<button
						class="carousel-control-prev"
						type="button"
						data-bs-target="#galleryCarousel"
						data-bs-slide="prev">
						<i class="fa-solid fa-chevron-left"></i>
						<span class="visually-hidden">Previous</span>
					</button>
					<button
						class="carousel-control-next"
						type="button"
						data-bs-target="#galleryCarousel"
						data-bs-slide="next">
						<i class="fa-solid fa-chevron-right"></i>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
				<p class="text-center">
					<!-- <small>Click image to enlarge</small> -->
				</p>
			</div>
		</div>
	</section>
	<!-- <section class="row gx-md-5 section-portfolio">
		<div class="col-xl-12 pr-5 section-portfolio-label">
			<i class="fa-regular fa-file-lines"></i>
			<h2 class="pr-5">Tech Stack & Tools</h2>
		</div>
		<div class="col-xl-3">
			<div class="card card-normal">
				<h3>Design Skills</h3><ul>
					<li>User Research</li><li>Wireframing</li><li>Low/High-Fidelity Designs</li><li>
						Visual Design Systems
					</li><li>Adobe Creative Suite</li><li>Figma and XD</li><li>Iterative Design</li>
				</ul>
			</div>
		</div>
		<div class="col-xl-3">
			<div class="card card-normal">
				<h3>Design Skills</h3><ul>
					<li>User Research</li><li>Wireframing</li><li>Low/High-Fidelity Designs</li><li>
						Visual Design Systems
					</li><li>Adobe Creative Suite</li><li>Figma and XD</li><li>Iterative Design</li>
				</ul>
			</div>
		</div>
		<div class="col-xl-3">
			<div class="card card-normal">
				<h3>Design Skills</h3><ul>
					<li>User Research</li><li>Wireframing</li><li>Low/High-Fidelity Designs</li><li>
						Visual Design Systems
					</li><li>Adobe Creative Suite</li><li>Figma and XD</li><li>Iterative Design</li>
				</ul>
			</div>
		</div>
		<div class="col-xl-3">
			<div class="card card-normal">
				<h3>Design Skills</h3><ul>
					<li>User Research</li><li>Wireframing</li><li>Low/High-Fidelity Designs</li><li>
						Visual Design Systems
					</li><li>Adobe Creative Suite</li><li>Figma and XD</li><li>Iterative Design</li>
				</ul>
			</div>
		</div>
	</section> -->
	<section class="row gx-md-5 section-portfolio">
		<div class="col-xl-3 pr-5 section-portfolio-label">
			<i class="fa-regular fa-file-lines"></i>
			<h2 class="pr-5">Planning &amp; Wireframing</h2>
		</div>
		<div class="col-xl-9">
			<div class="row gx-md-5 mb-5">
				<div class="col-xl-6">
					<div class="card card-normal">
						<h3>Research &amp; Analysis</h3>
						<ul>
							<li>Historical Analytics</li>
							<li>Competitive Analysis</li>
							<li>Industry best-practices (marketing focused)</li>
							<li>Interviews with stakeholders</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="card card-normal">
						<h3>Brainstorming &amp; Wireframing</h3>
						<ul>
							<li>
								Internal "design jam" with senior designers and in-house
								creative team
							</li>
							<li>User journey mapping</li>
							<li>Determining best page flow for consumption</li>
							<li>Crafting component variations for certain use-cases</li>
							<li>Feedback from SEO and CRO for best-practices</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="row gx-md-5 section-portfolio">
		<div class="col-xl-3 pr-5 section-portfolio-label">
			<i class="fa-brands fa-figma"></i>
			<h2 class="pr-5">Design &amp; Prototyping</h2>
		</div>
		<div class="col-xl-9">
			<p class="mb-5">
				While the website redesign presented a substantial challenge, as a design lead, I had
				confidence in our execution and delivery capabilities. This assurance stemmed from our
				development of a design system that significantly streamlined our design process and
				approach. Moreover, consistently sharing ideas and progress updates with all creative
				stakeholders throughout the journey ensured alignment and mutual understanding.
			</p>
			<div class="row gx-md-5">
				<div class="col-md-6 mb-5">
					<a
						class="card card-portfolio card-padding card-link"
						data-bs-toggle="modal"
						data-bs-target="#galleryModal"
						data-bs-image="/images/work/aai-website/thumb-component-variations.png"
						data-bs-title="Automation Anywhere - Website Redesign">
						<div class="row">
							<div class="col-md-12">
								<h3>Component Variations</h3>
								<p>
									Common content blocks had pre-built variants to choose
									from, which allowed for presentation flexibility.
								</p>
							</div>
							<div class="col-md-12 img">
								<img
									src="/images/work/aai-website/thumb-component-variations.png"
									class=""
									alt={title}
								/>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6 mb-5">
					<a
						class="card card-portfolio card-padding card-link"
						data-bs-toggle="modal"
						data-bs-target="#galleryModal"
						data-bs-image="/images/work/aai-website/thumb-navigation-updates.png"
						data-bs-title="Automation Anywhere - Website Redesign">
						<div class="row">
							<div class="col-md-12">
								<h3>Navigation Updates</h3>
								<p>
									Several rounds of navigation updates were executed, to
									cater to the new product stack and narrative.
								</p>
							</div>
							<div class="col-md-12 img">
								<img
									src="/images/work/aai-website/thumb-navigation-updates.png"
									class=""
									alt={title}
								/>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="row gx-md-5">
				<div class="col-md-6 mb-5">
					<a
						class="card card-portfolio card-padding card-link"
						data-bs-toggle="modal"
						data-bs-target="#galleryModal"
						data-bs-image="/images/work/aai-website/thumb-page-templatization.png"
						data-bs-title="Automation Anywhere - Website Redesign">
						<div class="row">
							<div class="col-md-12">
								<h3>Page Templatization</h3>
								<p>
									For faster page building and consistency, we templatized
									the most common sections. This allowed PMMs to more
									easily plan for the future.
								</p>
							</div>
							<div class="col-md-12 img">
								<img
									src="/images/work/aai-website/thumb-page-templatization.png"
									class=""
									alt={title}
								/>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6 mb-5">
					<a
						class="card card-portfolio card-padding card-link"
						data-bs-toggle="modal"
						data-bs-target="#galleryModal"
						data-bs-image="/images/work/aai-website/thumb-responsive-layouts.png"
						data-bs-title="Automation Anywhere - Website Redesign">
						<div class="row">
							<div class="col-md-12">
								<h3>Responsive Layouts</h3>
								<p>
									Most top-level layouts and MVP pages were built with
									responsive design frames. Aiding not only PMMs, but the
									development team as well.
								</p>
							</div>
							<div class="col-md-12 img">
								<img
									src="/images/work/aai-website/thumb-responsive-layouts.png"
									class=""
									alt={title}
								/>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-12 mb-5">
					<a
						class="card card-portfolio card-full card-link"
						data-bs-toggle="modal"
						data-bs-target="#galleryModal"
						data-bs-image="/images/work/aai-website/thumb-subdomain-support.png"
						data-bs-title="Automation Anywhere - Website Redesign">
						<div class="row">
							<div class="col-md-6">
								<h3>Subdomain Support</h3>
								<p>
									I took lead and made it a priority for our company's sub
									domain properties to adopt the new design system. My
									main role was to evangelize the system and provide any
									UI/UX support that was needed. I managed senior
									designers during the adoption.
								</p>
							</div>
							<div class="col-md-6 img">
								<img
									src="/images/work/aai-website/thumb-subdomain-support.png"
									class=""
									alt={title}
								/>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-12 mb-5">
					<a
						class="card card-portfolio card-full card-link"
						data-bs-toggle="modal"
						data-bs-target="#galleryModal"
						data-bs-image="/images/work/aai-website/thumb-cultural-design.png"
						data-bs-title="Automation Anywhere - Website Redesign">
						<div class="row">
							<div class="col-md-6">
								<h3>Region Specific, Cultural Design</h3>
								<p>
									I worked directly with regional managers to make sure
									our visual style was catering to the corresponding
									culture. Options were provided and iterations were made.
									I managed senior designers during these stages.
								</p>
							</div>
							<div class="col-md-6 img">
								<img
									src="/images/work/aai-website/thumb-cultural-design.png"
									class=""
									alt={title}
								/>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="row gx-md-5 section-portfolio">
		<div class="col-xl-3 pr-5 section-portfolio-label">
			<i class="fa-solid fa-rotate"></i>
			<h2 class="pr-5">Feedback &amp; Iteration</h2>
		</div>
		<div class="col-xl-9">
			<div class="row gx-md-5 mb-5">
				<div class="col-xl-6">
					<div class="card card-normal">
						<h3>Feedback Gathering</h3>
						<ul>
							<li>
								As new content docs and requirements were rolling in, WCS team
								made sure to stay in sync with the strategy of "hot" pages
							</li>
							<li>
								Sub-domain owners and key development team members provided
								direct feedback on usage and areas of improvement for use
								cases
							</li>
							<li>
								Reporting back to the development team for updates to the
								design system, updates to sections or net new pages.
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="card card-normal">
						<h3>Updates &amp; Evolution</h3>
						<ul>
							<li>
								New designs in the pipeline: Customer Stories, Blogs, Asset
								Library and Events & Webinars
							</li>
							<li>
								Continued experimentation with Conversion Rate methods and
								Call to Action approaches
							</li>
							<li>Continued monthly support for sub-domain redesign projects</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="row gx-md-5 section-portfolio mb-5">
		<div class="col-xl-3 col-12 pr-5 section-portfolio-label">
			<!-- <i class="fa"></i> -->
			<h2 class="pr-5">Next steps&hellip;</h2>
		</div>
		<div class="col-xl-4 col-6 pt-3">
			<p><a href="/portfolio">Back to Portfolio</a></p>
		</div>
		<div class="col-xl-5 col-6 pt-3 text-end">
			<p><a href="#">Back to Top</a></p>
		</div>
	</section>
</Layout>
