---
import Layout from "../../layouts/Default.astro";
// import BaseHead from "../../components/BaseHead.astro";
// import Header from "../../components/Header.astro";
// import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
const title = "Automation Anywhere Web Design System 3.0";
const description =
	"The main goal of this project was to modernize, and completely revamp the look and feel of not only the companys corporate website, but all other customer facing subdomains for a consistence brand presence.";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("portfolio")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body data-barba="wrapper">
		<Header />
		<main data-barba="container mx-auto" data-barba-namespace="portfolio">
			<section class="row gx-5"> -->
<Layout
	title={title}
	description={description}
	pubDate={new Date("August 08 2021")}
	heroImage="/blog-placeholder-about.jpg">
	<!-- NEED BREADCRUMB -->
	<section class="row title hero-detail">
		<div class="col-lg-6 pe-lg-5">
			<h1 class="col-12 mb-2">{title}</h1>
			<div class="py-3">
				<span class="tag">Design System</span>
				<span class="tag">User Interface</span>
			</div>
			<h2 class="col-12 mb-5 pb-5 pe-lg-5 description">
				The main goal of this project was to modernize, and completely revamp the look and
				feel of not only the company’s corporate website, but all other customer facing
				subdomains for a consistence brand presence. To do this, I led the build-out and
				evangelized the adoption of an entirely new design system from the ground up, while
				managing a team of web experts.
			</h2>
		</div>
		<div class="col-lg-6 img-container">
			<img src="../../images/work/screenshot-main@2x.jpg" />
		</div>
	</section>
	<section class="row gx-5 section-portfolio">
		<div class="col-xl-3 pr-5 section-portfolio-label">
			<i class="fa fa-users-viewfinder"></i>
			<h2 class="pr-5">Overview</h2>
		</div>
		<div class="col-xl-9">
			<div class="row gx-5">
				<div class="col-xl-6 pb-5">
					<div class="card card-normal">
						<h3>Design Skills</h3><ul>
							<li>User Research</li><li>Wireframing</li><li>
								Low/High-Fidelity Designs
							</li><li>Visual Design Systems</li><li>Adobe Creative Suite</li><li>
								Figma and XD
							</li><li>Iterative Design</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-6 pb-5">
					<div class="card card-normal">
						<h3>Development Skills</h3><ul>
							<li>Rapid Prototyping</li><li>HTML</li><li>CSS/SASS</li><li>
								JS/JQUERY
							</li><li>Iterative Development</li><li>Hugo, Gatsby</li><li>
								WordPress, Drupal
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="row gx-5 section-portfolio">
		<div class="col-xl-3 pr-5 section-portfolio-label">
			<i class="fa-regular fa-images"></i>
			<h2 class="pr-5">Project Gallery</h2>
		</div>
		<div class="col-xl-9">
			<div class="card card-portfolio">
				<div id="carouselExampleDark" class="carousel carousel-dark slide mb-4">
					<div class="carousel-indicators">
						<button
							type="button"
							data-bs-target="#carouselExampleDark"
							data-bs-slide-to="0"
							class="active"
							aria-current="true"
							aria-label="Slide 1"></button>
						<button
							type="button"
							data-bs-target="#carouselExampleDark"
							data-bs-slide-to="1"
							aria-label="Slide 2"></button>
						<button
							type="button"
							data-bs-target="#carouselExampleDark"
							data-bs-slide-to="2"
							aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/Image Container - Full@3x.png"
								data-bs-title="Title of Screenshot Here">
								<img
									src="/images/Image Container - Full@3x.png"
									class="d-block w-100"
									alt="..."
								/>
							</a>
						</div>
						<div class="carousel-item" data-bs-interval="2000">
							<img
								src="/images/Image Container - Full@3x.png"
								class="d-block w-100"
								alt="..."
							/>
						</div>
						<div class="carousel-item">
							<img
								src="/images/Image Container - Full@3x.png"
								class="d-block w-100"
								alt="..."
							/>
						</div>
					</div>
					<button
						class="carousel-control-prev"
						type="button"
						data-bs-target="#carouselExampleDark"
						data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button
						class="carousel-control-next"
						type="button"
						data-bs-target="#carouselExampleDark"
						data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
				<p class="text-center"><small>Click to enlarge</small></p>
			</div>
		</div>
	</section>
	<!-- <section class="row gx-5 section-portfolio">
		<div class="col-xl-12 pr-5 section-portfolio-label">
			<i class="fa-regular fa-file-lines"></i>
			<h2 class="pr-5">Tech Stack & Tools</h2>
		</div>
		<div class="col-xl-3">
			<div class="card card-normal">
				<h3>Design Skills</h3><ul>
					<li>User Research</li><li>Wireframing</li><li>Low/High-Fidelity Designs</li><li>
						Visual Design Systems
					</li><li>Adobe Creative Suite</li><li>Figma and XD</li><li>Iterative Design</li>
				</ul>
			</div>
		</div>
		<div class="col-xl-3">
			<div class="card card-normal">
				<h3>Design Skills</h3><ul>
					<li>User Research</li><li>Wireframing</li><li>Low/High-Fidelity Designs</li><li>
						Visual Design Systems
					</li><li>Adobe Creative Suite</li><li>Figma and XD</li><li>Iterative Design</li>
				</ul>
			</div>
		</div>
		<div class="col-xl-3">
			<div class="card card-normal">
				<h3>Design Skills</h3><ul>
					<li>User Research</li><li>Wireframing</li><li>Low/High-Fidelity Designs</li><li>
						Visual Design Systems
					</li><li>Adobe Creative Suite</li><li>Figma and XD</li><li>Iterative Design</li>
				</ul>
			</div>
		</div>
		<div class="col-xl-3">
			<div class="card card-normal">
				<h3>Design Skills</h3><ul>
					<li>User Research</li><li>Wireframing</li><li>Low/High-Fidelity Designs</li><li>
						Visual Design Systems
					</li><li>Adobe Creative Suite</li><li>Figma and XD</li><li>Iterative Design</li>
				</ul>
			</div>
		</div>
	</section> -->
	<section class="row gx-5 section-portfolio">
		<div class="col-xl-3 pr-5 section-portfolio-label">
			<i class="fa-regular fa-file-lines"></i>
			<h2 class="pr-5">Planning &amp; Wireframing</h2>
		</div>
		<div class="col-xl-9">
			<div class="row">
				<div class="col-xl-4">
					<div class="card card-normal">
						<h3>Design Skills</h3><ul>
							<li>User Research</li><li>Wireframing</li><li>
								Low/High-Fidelity Designs
							</li><li>Visual Design Systems</li><li>Adobe Creative Suite</li><li>
								Figma and XD
							</li><li>Iterative Design</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="card card-normal">
						<h3>Design Skills</h3><ul>
							<li>User Research</li><li>Wireframing</li><li>
								Low/High-Fidelity Designs
							</li><li>Visual Design Systems</li><li>Adobe Creative Suite</li><li>
								Figma and XD
							</li><li>Iterative Design</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="card card-normal">
						<h3>Design Skills</h3><ul>
							<li>User Research</li><li>Wireframing</li><li>
								Low/High-Fidelity Designs
							</li><li>Visual Design Systems</li><li>Adobe Creative Suite</li><li>
								Figma and XD
							</li><li>Iterative Design</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="row gx-5 section-portfolio">
		<div class="col-xl-3 pr-5 section-portfolio-label">
			<i class="fa"></i>
			<h2 class="pr-5">Design &amp; Prototyping</h2>
		</div>
		<div class="col-xl-9">
			<p class="mb-5">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				incididunt ut labore et dolore magna aliqua. Vitae ultricies leo integer malesuada
				nunc vel risus commodo viverra. Adipiscing enim eu turpis egestas pretium. Euismod
				elementum nisi quis eleifend quam adipiscing. In hac habitasse platea dictumst
				vestibulum. Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis
				egestas. Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem. Varius
				sit amet mattis vulputate enim. Habitasse platea dictumst quisque sagittis. Integer
				quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.
			</p>
			<div class="row gx-5">
				<div class="col-md-6 mb-5">
					<div class="card card-portfolio card-padding card-link">
						<div class="row">
							<div class="col-md-12">
								<h3>Base Foundations</h3>
								<p>
									Amet eiusmod ea incididunt tempor enim nisi non veniam.
									Exercitation id Lorem nostrud voluptate nulla ut.
								</p>								
							</div>
							<div class="col-md-12 img">
								<img
									src="/images/Image Container - Full.png"
									class=""
									alt=""
								/>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 mb-5">
					<div class="card card-portfolio card-padding card-link">
						<div class="row">
							<div class="col-md-12">
								<h3></h3>
								<p>
									Amet eiusmod ea incididunt tempor enim nisi non veniam.
									Exercitation id Lorem nostrud voluptate nulla ut.
								</p>								
							</div>
							<div class="col-md-12 img">
								<img
									src="/images/Image Container - Full.png"
									class=""
									alt=""
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row gx-5">
				<div class="col-md-6 mb-5">
					<div class="card card-portfolio card-padding card-link">
						<div class="row">
							<div class="col-md-12">
								<h3>Base Foundations</h3>
								<p>
									Amet eiusmod ea incididunt tempor enim nisi non veniam.
									Exercitation id Lorem nostrud voluptate nulla ut.
								</p>								
							</div>
							<div class="col-md-12 img">
								<img
									src="/images/Image Container - Full.png"
									class=""
									alt=""
								/>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 mb-5">
					<div class="card card-portfolio card-padding card-link">
						<div class="row">
							<div class="col-md-12">
								<h3></h3>
								<p>
									Amet eiusmod ea incididunt tempor enim nisi non veniam.
									Exercitation id Lorem nostrud voluptate nulla ut.
								</p>								
							</div>
							<div class="col-md-12 img">
								<img
									src="/images/Image Container - Full.png"
									class=""
									alt=""
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="row gx-5 section-portfolio">
		<div class="col-xl-3 pr-5 section-portfolio-label">
			<i class="fa"></i>
			<h2 class="pr-5">Feedback &amp; Iteration</h2>
		</div>
		<div class="col-xl-9">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				incididunt ut labore et dolore magna aliqua. Vitae ultricies leo integer malesuada
				nunc vel risus commodo viverra. Adipiscing enim eu turpis egestas pretium. Euismod
				elementum nisi quis eleifend quam adipiscing. In hac habitasse platea dictumst
				vestibulum. Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis
				egestas. Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem. Varius
				sit amet mattis vulputate enim. Habitasse platea dictumst quisque sagittis. Integer
				quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.
			</p>
		</div>
	</section>
	<section class="row gx-5 section-portfolio mb-5">
		<div class="col-xl-3 pr-5 section-portfolio-label">
			<!-- <i class="fa"></i> -->
			<h2 class="pr-5">Next steps&hellip;</h2>
		</div>
		<div class="col-xl-4 pt-3">
			<p><a href="/portfolio">Back to Portfolio</a></p>
		</div>
		<div class="col-xl-5 pt-3 text-end">
			<p><a href="#">Back to Top</a></p>
		</div>
	</section>
	<!-- MODAL -->
	<div
		class="modal fade"
		id="galleryModal"
		data-bs-theme="dark"
		aria-hidden="true"
		aria-labelledby="galleryModal"
		tabindex="-1">
		<div class="modal-dialog modal-fullscreen">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-4" id="exampleModalFullscreenLabel">
						Full screen modal
					</h1>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body text-center">
					<img src="" class="mx-auto" alt="..." />
				</div>
				<!-- <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
						>Close</button
					>
				</div> -->
			</div>
		</div>
	</div>
</Layout>
<!-- </section>
		</main>
		<Footer />
	</body>
</html> -->
