---
import Layout from "../../layouts/Default.astro";
// import BaseHead from "../../components/BaseHead.astro";
// import Header from "../../components/Header.astro";
// import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
const title = "Brand Visual Design";
const description = "A compilation of various brand/identity design work I have created in the past years.";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("portfolio")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout
	title={title}
	description={description}
	pubDate={new Date("August 08 2021")}
	heroImage="/blog-placeholder-about.jpg">
	<!-- TO-DO BREADCRUMB -->
	<section class="row title hero-detail">
		<div class="col-lg-6 pe-lg-5">
			<h1 class="col-12 mb-2">{title}</h1>
			<div class="py-3">
				<span class="tag">User Experience</span>
				<span class="tag">User Interface</span>
			</div>
			<h2 class="col-12 mb-5 pb-5 pe-lg-5 description">
				Over the years, I've had the pleasure to work on numerous identity design projects in
				various industries. Ranging from tech start-ups to endurance race events, and from
				award-winning wineries to small businesses. Each project infused the character and
				brand of their respective organizations.
			</h2>
		</div>
		<div class="col-lg-6 card-normal img-container">
			<img src="/images/work/img-hero-visual@2x.png" />
		</div>
	</section>
	<section class="row gx-md-5 section-portfolio">
		<div class="col-xl-3 pr-5 section-portfolio-label">
			<i class="fa fa-users-viewfinder"></i>
			<h2 class="pr-5">Overview</h2>
		</div>
		<div class="col-xl-9">
			<div class="row gx-md-5">
				<div class="col-xl-6 pb-5">
					<div class="card card-normal">
						<h3>My Role</h3>
						<ul>
							<li>Lead Visual Designer</li>
							<li>Project Management</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-6 pb-5">
					<div class="card card-normal">
						<h3>Collaboration</h3>
						<ul>
							<li>Business Owners</li>
							<li>Product Owners/Managers</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="row gx-md-5 section-portfolio">
		<div class="col-xl-3 col-12 pr-5 section-portfolio-label">
			<i class="fa-regular fa-file-lines"></i>
			<h2 class="pr-5">Brand Identity Design</h2>
		</div>
		<div class="col-xl-9">
			<div class="row gx-md-5">
				<div class="col-xl-6 mb-5">
					<div class="card card-branding-presentation" style="background: #222;">
						<img
							src="/images/work/visual-design/logo-activo.svg"
							class=""
							alt={title}
						/>
					</div>
				</div>
				<div class="col-xl-6 mb-5">
					<div class="card card-branding-presentation" style="background: #143859;">
						<img
							src="/images/work/visual-design/logo-alamitos.svg"
							class=""
							alt={title}
						/>
					</div>
				</div>
				<div class="col-xl-6 mb-5">
					<div class="card card-branding-presentation" style="background: #0f2d60;">
						<img
							src="/images/work/visual-design/logo-galactic-sky.svg"
							class=""
							alt={title}
						/>
					</div>
				</div>
				<div class="col-xl-6 mb-5">
					<div class="card card-branding-presentation" style="background: #666;">
						<img
							src="/images/work/visual-design/logo-vector-badge-1001.png"
							class=""
							alt={title}
						/>
					</div>
				</div>
				<div class="col-xl-6 mb-5">
					<div class="card card-branding-presentation" style="background: #e8ded5;">
						<img
							src="/images/work/visual-design/logo-ap-custom-cabinets.svg"
							class=""
							alt={title}
						/>
					</div>
				</div>
				<div class="col-xl-6 mb-5">
					<div class="card card-branding-presentation" style="background: #ccc;">
						<img
							src="/images/work/visual-design/logo-argo-wireleess.svg"
							class=""
							alt={title}
						/>
					</div>
				</div>
				<div class="col-xl-6 mb-5">
					<div class="card card-branding-presentation" style="background: #eee;">
						<img
							src="/images/work/visual-design/logo-ecore-design.svg"
							class=""
							alt={title}
						/>
					</div>
				</div>
				<div class="col-xl-6 mb-5">
					<div class="card card-branding-presentation" style="background: #c0d9e5;">
						<img
							src="/images/work/visual-design/logo-half-marathon-monterey-bay-1.svg"
							class=""
							alt={title}
						/>
					</div>
				</div>
				<div class="col-xl-6 mb-5">
					<div class="card card-branding-presentation" style="background: #c0d9e5;">
						<img
							src="/images/work/visual-design/logo-half-marathon-monterey-bay-2.svg"
							class=""
							alt={title}
						/>
					</div>
				</div>
				<div class="col-xl-6 mb-5">
					<div class="card card-branding-presentation" style="background: #c0d9e5;">
						<img
							src="/images/work/visual-design/logo-half-marathon-monterey-bay-3.svg"
							class=""
							alt={title}
						/>
					</div>
				</div>
				<div class="col-xl-6 mb-5">
					<div class="card card-branding-presentation" style="background: #e5d9d0;">
						<img
							src="/images/work/visual-design/logo-mhm-5th-anniversary.svg"
							class=""
							alt={title}
						/>
					</div>
				</div>
				<div class="col-xl-6 mb-5">
					<div class="card card-branding-presentation" style="background: #e5d9d0;">
						<img
							src="/images/work/visual-design/logo-morgan-hill-marathon-1.svg"
							class=""
							alt={title}
						/>
					</div>
				</div>
				<div class="col-xl-6 mb-5">
					<div class="card card-branding-presentation" style="background: #e5d9d0;">
						<img
							src="/images/work/visual-design/logo-morgan-hill-marathon-2.svg"
							class=""
							alt={title}
						/>
					</div>
				</div>
				<div class="col-xl-6 mb-5">
					<div class="card card-branding-presentation" style="background: #111;">
						<img
							src="/images/work/visual-design/logo-newspace-networks.svg"
							class=""
							alt={title}
						/>
					</div>
				</div>
				<div class="col-xl-6 mb-5">
					<div class="card card-branding-presentation" style="background: #ccc;">
						<img
							src="/images/work/visual-design/logo-rm-races-live.svg"
							class=""
							alt={title}
						/>
					</div>
				</div>
				<div class="col-xl-6 mb-5">
					<div class="card card-branding-presentation" style="background: #ccc;">
						<img
							src="/images/work/visual-design/logo-rm-races-live-favicon-3.svg"
							class=""
							alt={title}
						/>
					</div>
				</div>
				<div class="col-xl-6 mb-5">
					<div class="card card-branding-presentation" style="background: #222;">
						<img
							src="/images/work/visual-design/logo-rm-timing-systems.svg"
							class=""
							alt={title}
						/>
					</div>
				</div>
				<div class="col-xl-6 mb-5">
					<div class="card card-branding-presentation" style="background: #999;">
						<img
							src="/images/work/visual-design/logo-virutal-run-usa.svg"
							class=""
							alt={title}
						/>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- <section class="row gx-md-5 section-portfolio">
		<div class="col-xl-3 pr-5 section-portfolio-label">
			<i class="fa-regular fa-file-lines"></i>
			<h2 class="pr-5">Alamatios Vineyards</h2>
			<p class="pr-5">An award-winning winery located in the Silicon Valley</p>
		</div>
		<div class="col-xl-9 card-branding">
			<div class="row g-0 mb-5">
				<div class="col-xl-3 card-branding-bg" style="background-image: url();">
					
				</div>
				<div class="col-xl-9 card-branding-presentation" style="background: #143859;">
					<img src="/images/work/visual-design/logo-alamitos.svg" class="" alt={title} />
				</div>
			</div>
		</div>
	</section> -->
	<section class="row gx-md-5 section-portfolio mb-5">
		<div class="col-xl-3 col-12 pr-5 section-portfolio-label">
			<!-- <i class="fa"></i> -->
			<h2 class="pr-5">Next steps&hellip;</h2>
		</div>
		<div class="col-xl-4 col-6 pt-3">
			<p><a href="/portfolio">Back to Portfolio</a></p>
		</div>
		<div class="col-xl-5 col-6 pt-3 text-end">
			<p><a href="#">Back to Top</a></p>
		</div>
	</section>
</Layout>
