---
import Layout from "../../layouts/Default.astro";
import PortfolioFeatured from "../../components/PortfolioFeatured.astro";
// import BaseHead from "../../components/BaseHead.astro";
// import Header from "../../components/Header.astro";
// import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
const title = "Portfolio";
const description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit";
// import { getCollection } from "astro:content";
// import FormattedDate from "../../components/FormattedDate.astro";

// const posts = (await getCollection("portfolio")).sort(
// 	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
// );
---

<Layout
	title={title}
	description={description}
	pubDate={new Date("August 08 2021")}
	heroImage="/blog-placeholder-about.jpg"
>
	<section class="row title">
		<div class="col-sm-9">
			<div class="row">
				<h1 class="col-12 mb-2">Portfolio</h1>
				<h2 class="col-12 mb-5 pb-5 description">
					A curated list of works showcasing UX, product and visual
					design
				</h2>
			</div>
		</div>
		<!-- <div class="col-sm-3 pt-4">
			<select
				class="form-select float-sm-end"
				data-bs-theme="dark"
				aria-label="Default select example">
				<option selected>All Projects</option>
				<option value="1">UI / UX</option>
				<option value="2">Visual / Brand</option>
			</select>
		</div> -->
	</section>
	<PortfolioFeatured />
	<!-- <ul class="col-md-12">
		{
			posts.map((post) => (
				<li>
					<a href={`/portfolio/${post.slug}/`}>
						<img width={720} height={360} src={post.data.heroImage} alt={title} />
						<h4 class="title">{post.data.title}</h4>
						<p class="date">
							<FormattedDate date={post.data.pubDate} />
						</p>
					</a>
				</li>
			))
		}
	</ul> -->
</Layout>
