---
import Layout from "../../layouts/Default.astro";
// import BaseHead from "../../components/BaseHead.astro";
// import Header from "../../components/Header.astro";
// import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
const title = "RM Races Live - SaaS Event Platform";
const description =
	"A web-based platform for the endurance race industry. This full-fledged race event management and results platform contains features ranging from online registration, results processing and data tracking all through a robust dashboard. As the service became widely adopted, new tools, features and integrations were added to meet customer needs.";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("portfolio")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout
	title={title}
	description={description}
	pubDate={new Date("August 08 2021")}
	heroImage="/blog-placeholder-about.jpg">
	<!-- TO-DO BREADCRUMB -->
	<section class="row title hero-detail">
		<div class="col-lg-6 pe-lg-5">
			<h1 class="col-12 mb-2">{title}</h1>
			<div class="tags py-3">
				<span class="tag">SaaS</span>
				<span class="tag">UI</span>
				<span class="tag">UX</span>
				<span class="tag">Front-End Development</span>
			</div>
			<h2 class="col-12 mb-5 pb-5 pe-lg-5 description">
				{description}
			</h2>
		</div>
		<div class="col-lg-6 card-normal img-container">
			<img src="/images/work/img-hero-rmrl@2x.png" alt={title} />
		</div>
	</section>
	<section class="row gx-md-5 section-portfolio">
		<div class="col-xl-3 pr-5 section-portfolio-label">
			<i class="fa fa-users-viewfinder"></i>
			<h2 class="pr-5">Overview</h2>
		</div>
		<div class="col-xl-9">
			<div class="row gx-md-5">
				<div class="col-xl-4 pb-5">
					<div class="card card-normal">
						<h3>Credits</h3>
						<ul>
							<li>Edward Margallo</li>
							<li>Paul Oliveira (Lead Full-Stack Dev)</li>
							<li>Greg Richards (Product Owner)</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4 pb-5">
					<div class="card card-normal">
						<h3>My Role</h3>
						<ul>
							<li>Principal Product Designer</li>
							<li>Design Systems Lead</li>
							<li>Front-end UI Developer</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4 pb-5">
					<div class="card card-normal">
						<h3>Collaboration</h3>
						<ul>
							<li>Lead Full-Stack Developer</li>
							<li>Product Owner</li>
							<li>Customers / Event Timers</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="row gx-md-5 section-portfolio">
		<div class="col-xl-3 pr-5 section-portfolio-label">
			<i class="fa-regular fa-images"></i>
			<h2 class="pr-5">Project Gallery</h2>
		</div>
		<div class="col-xl-9">
			<div
				class="card card-portfolio card-padding"
				style="height: auto !important;">
				<div
					id="galleryCarousel"
					class="carousel carousel-dark slide mb-5">
					<div class="carousel-indicators">
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							class="active"
							aria-current="true"
							data-bs-slide-to="0"
							aria-label="Slide 1">
						</button>
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							data-bs-slide-to="1"
							aria-label="Slide 2">
						</button>
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							data-bs-slide-to="2"
							aria-label="Slide 3">
						</button>
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							data-bs-slide-to="3"
							aria-label="Slide 4">
						</button>
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							data-bs-slide-to="4"
							aria-label="Slide 5">
						</button>
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							data-bs-slide-to="5"
							aria-label="Slide 6">
						</button>
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							data-bs-slide-to="6"
							aria-label="Slide 7">
						</button>
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							data-bs-slide-to="7"
							aria-label="Slide 8">
						</button>
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							data-bs-slide-to="8"
							aria-label="Slide 9">
						</button>
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							data-bs-slide-to="9"
							aria-label="Slide 10">
						</button>
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							data-bs-slide-to="10"
							aria-label="Slide 11">
						</button>
						<button
							type="button"
							data-bs-target="#galleryCarousel"
							data-bs-slide-to="11"
							aria-label="Slide 12">
						</button>
						<!-- <button
							type="button"
							data-bs-target="#galleryCarousel"
							data-bs-slide-to="12"
							aria-label="Slide 13"></button> -->
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/rmrl/rmrl-results-mobile@2x.png"
								data-bs-title={title}>
								<img
									src="/images/work/rmrl/rmrl-results-mobile@2x.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
						<div
							class="carousel-item"
							data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/rmrl/rmrl-result-kiosk@2x.png"
								data-bs-title={title}>
								<img
									src="/images/work/rmrl/rmrl-result-kiosk@2x.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
						<div class="carousel-item" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/rmrl/rmrl-result-report@2x.png"
								data-bs-title={title}>
								<img
									src="/images/work/rmrl/rmrl-result-report@2x.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
						<div class="carousel-item" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/rmrl/rmrl-home@2x.png"
								data-bs-title={title}>
								<img
									src="/images/work/rmrl/rmrl-home@2x.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
						<div class="carousel-item" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/rmrl/rmrl-event-dashboard@2x.png"
								data-bs-title={title}>
								<img
									src="/images/work/rmrl/rmrl-event-dashboard@2x.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
						<div class="carousel-item" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/rmrl/rmrl-bib-lookup@2x.png"
								data-bs-title={title}>
								<img
									src="/images/work/rmrl/rmrl-bib-lookup@2x.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
						<div class="carousel-item" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/rmrl/rmrl-event-listing@2x.png"
								data-bs-title={title}>
								<img
									src="/images/work/rmrl/rmrl-event-listing@2x.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
						<div class="carousel-item" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/rmrl/rmrl-org-listing@2x.png"
								data-bs-title={title}>
								<img
									src="/images/work/rmrl/rmrl-org-listing@2x.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
						<!-- <div class="carousel-item" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/rmrl/rmrl-result-report-tablet.png"
								data-bs-title={title}>
								<img
									src="/images/work/rmrl/rmrl-result-report-tablet.png"
									class=""
									alt={title}
								/>
							</a>
						</div> -->
						<div class="carousel-item" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/rmrl/rmrl-results@2x.png"
								data-bs-title={title}>
								<img
									src="/images/work/rmrl/rmrl-results@2x.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
						<div class="carousel-item" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/rmrl/rmrl-streamer@2x.png"
								data-bs-title={title}>
								<img
									src="/images/work/rmrl/rmrl-streamer@2x.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
						<div class="carousel-item" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/rmrl/rmrl-streamer-config@2x.png"
								data-bs-title={title}>
								<img
									src="/images/work/rmrl/rmrl-streamer-config@2x.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
						<div class="carousel-item" data-bs-interval="10000">
							<a
								data-bs-toggle="modal"
								data-bs-target="#galleryModal"
								data-bs-image="/images/work/rmrl/rmrl-event-settings@2x.png"
								data-bs-title={title}>
								<img
									src="/images/work/rmrl/rmrl-event-settings@2x.png"
									class=""
									alt={title}
								/>
							</a>
						</div>
					</div>
					<button
						class="carousel-control-prev"
						type="button"
						data-bs-target="#galleryCarousel"
						data-bs-slide="prev">
						<i class="fa-solid fa-chevron-left"></i>
						<span class="visually-hidden">Previous</span>
					</button>
					<button
						class="carousel-control-next"
						type="button"
						data-bs-target="#galleryCarousel"
						data-bs-slide="next">
						<i class="fa-solid fa-chevron-right"></i>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
				<p class="text-center">
					<!-- <small>Click image to enlarge</small> -->
				</p>
			</div>
		</div>
	</section>
	<!-- <section class="row gx-md-5 section-portfolio">
		<div class="col-xl-12 pr-5 section-portfolio-label">
			<i class="fa-regular fa-file-lines"></i>
			<h2 class="pr-5">Tech Stack & Tools</h2>
		</div>
		<div class="col-xl-3">
			<div class="card card-normal">
				<h3>Design Skills</h3><ul>
					<li>User Research</li><li>Wireframing</li><li>Low/High-Fidelity Designs</li><li>
						Visual Design Systems
					</li><li>Adobe Creative Suite</li><li>Figma and XD</li><li>Iterative Design</li>
				</ul>
			</div>
		</div>
		<div class="col-xl-3">
			<div class="card card-normal">
				<h3>Design Skills</h3><ul>
					<li>User Research</li><li>Wireframing</li><li>Low/High-Fidelity Designs</li><li>
						Visual Design Systems
					</li><li>Adobe Creative Suite</li><li>Figma and XD</li><li>Iterative Design</li>
				</ul>
			</div>
		</div>
		<div class="col-xl-3">
			<div class="card card-normal">
				<h3>Design Skills</h3><ul>
					<li>User Research</li><li>Wireframing</li><li>Low/High-Fidelity Designs</li><li>
						Visual Design Systems
					</li><li>Adobe Creative Suite</li><li>Figma and XD</li><li>Iterative Design</li>
				</ul>
			</div>
		</div>
		<div class="col-xl-3">
			<div class="card card-normal">
				<h3>Design Skills</h3><ul>
					<li>User Research</li><li>Wireframing</li><li>Low/High-Fidelity Designs</li><li>
						Visual Design Systems
					</li><li>Adobe Creative Suite</li><li>Figma and XD</li><li>Iterative Design</li>
				</ul>
			</div>
		</div>
	</section> -->
	<section class="row gx-md-5 section-portfolio">
		<div class="col-xl-3 pr-5 section-portfolio-label">
			<i class="fa-regular fa-file-lines"></i>
			<h2 class="pr-5">Planning &amp; Wireframing</h2>
		</div>
		<div class="col-xl-9">
			<div class="row gx-md-5 mb-5">
				<div class="col-xl-6">
					<div class="card card-normal">
						<h3>Research &amp; Analysis</h3>
						<ul>
							<li>User Research (Interviews)</li>
							<li>Competitive Analysis</li>
							<li>Heuristic Analysis</li>
							<li>Live Event Field Study</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="card card-normal">
						<h3>Brainstorming &amp; Wireframing</h3>
						<ul>
							<li>Task Analysis</li>
							<li>Defining User Goals</li>
							<li>Defining User Journeys</li>
							<li>Defining Technical Criteria</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="row gx-md-5 section-portfolio">
		<div class="col-xl-3 pr-5 section-portfolio-label">
			<i class="fa-regular fa-edit"></i>
			<h2 class="pr-5">Process &amp; Design</h2>
		</div>
		<div class="col-xl-9">
			<!------------------ TOPIC ------------------>
			<h3 class="topic">
				<i class="fa-solid fa-chalkboard mr-5"></i> Event Management Dashboard
			</h3>
			<div class="row gx-md-5 mb-5">
				<div class="col-xl-6">
					<div class="card card-normal">
						<h3>Challenge</h3>
						<ul>
							<li>
								Defining the key, top-level data that most event
								managers need to see for tracking and managing a
								race event.
							</li>
							<li>
								Showcasing information in a way that is not
								overwhelming, visually pleasing and consumable
								at first glance.
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="card card-normal">
						<h3>Process</h3>
						<ul>
							<li>
								Product owner defined specifications - The
								product owner initially defined all necessary
								items to showcase to the end-user
							</li>
							<li>
								Heuristics and Best Practices - I led the
								brainstorming of information architecture and
								presentation on the dashboard.
							</li>
							<li>
								Client Interviews - Immediate feedback was
								gathered from our first batch of users
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row gx-md-5">
				<div class="col-md-12 mb-5">
					<a
						class="card card-portfolio card-full card-big card-link card-long"
						data-bs-toggle="modal"
						data-bs-target="#galleryModal"
						data-bs-image="/images/work/rmrl/rmrl-event-dashboard@2x.png"
						data-bs-title={title}>
						<div class="row">
							<div class="col-md-12">
								<h3>The Solution</h3>
								<div class="row">
									<div class="col-md-4">
										<p>
											Users have the ability to see the
											most common settings in one shot,
											which provides greater visibility.
										</p>
									</div>
									<div class="col-md-4">
										<p>
											Quick “edit” links, for easier to
											find settings. This provided better
											discoverability.
										</p>
									</div>
									<div class="col-md-4">
										<p>
											Universal Event Header and Sub
											Navigation - present on each event
											setting page, with key information
											and “quick jump” links.
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-12 img">
								<img
									src="/images/work/rmrl/rmrl-event-dashboard@2x.png"
									class=""
									alt={title}
								/>
							</div>
						</div>
					</a>
				</div>
			</div>
			<hr />
			<!------------------ TOPIC ------------------>
			<h3 class="topic">
				<i class="fa-solid fa-chalkboard mr-5"></i> Event Results Detail
				Page
			</h3>
			<div class="row gx-md-5 mb-5">
				<div class="col-xl-6">
					<div class="card card-normal">
						<h3>Challenge</h3>
						<p>
							To present race event finisher information in a
							readable and searchable format. The biggest
							challenge is the amount of columns a data set can
							have, along with the possibility of a long list of
							participant categories. While this is already a
							challenge for desktop, it provides an even greater
							challenge for mobile view.
						</p>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="card card-normal">
						<h3>Process</h3>
						<ul>
							<li>
								Client Interviews - We analyzed what functions
								most athletes would utilize when looking at a
								results page
							</li>
							<li>
								Competitive Analysis - We jotted down the main
								components that made up other existing results
								services.
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row gx-md-5">
				<div class="col-md-12 mb-5">
					<a
						class="card card-portfolio card-full card-big card-link card-long"
						data-bs-toggle="modal"
						data-bs-target="#galleryModal"
						data-bs-image="/images/work/rmrl/rmrl-results@2x.png"
						data-bs-title={title}>
						<div class="row">
							<div class="col-md-12">
								<h3>The Solution</h3>
								<div class="row">
									<div class="col-md-4">
										<p>
											Designing and developing a UI for a
											webpage that is fast-loading,
											accessible and usable regardless of
											device type
										</p>
									</div>
									<div class="col-md-4">
										<p>
											The UI has all top level sections
											above the fold so the user can
											immediately spot the function they
											need
										</p>
									</div>
									<div class="col-md-4">
										<p>
											Only top finishers, per category,
											are present at first. Additional
											entrants are loaded via AJAX when a
											search is performed, or when
											pagination is triggered.
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-12 img">
								<img
									src="/images/work/rmrl/rmrl-results@2x.png"
									class=""
									alt={title}
								/>
							</div>
						</div>
					</a>
				</div>
			</div>
			<hr />
						<!------------------ TOPIC ------------------>
			<h3 class="topic">
				<i class="fa-solid fa-chalkboard mr-5"></i> Result Search Kiosk
			</h3>
			<div class="row gx-md-5 mb-5">
				<div class="col-xl-6">
					<div class="card card-normal">
						<h3>Challenge</h3>
						<p>
							Event managers needing a common solution to allow participants to quickly search for their race results directly after they complete their event. The kiosk would be self-serve via a fixed laptop station and/or a tablet device readily available at a timing tent.
						</p>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="card card-normal">
						<h3>Process</h3>
						<ul>
							<li>
								Context Usage - Understanding the environment and context scenario for the tool would allow us kick-off an MVP product
							</li>
							<li>
								Device Delivery - We needed to define the possible device types that would deliver on the experience. This would be crucial in proper design and development
							</li>
							<li>
								Presentation - Contrast was key since there was possibility of this UI being used outdoors, so we stuck to a simply dark grey and white theme.
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row gx-md-5">
				<div class="col-md-12 mb-5">
					<a
						class="card card-portfolio card-full card-big card-link card-long"
						data-bs-toggle="modal"
						data-bs-target="#galleryModal"
						data-bs-image="/images/work/rmrl/rmrl-result-kiosk@2x.png"
						data-bs-title={title}>
						<div class="row">
							<div class="col-md-12">
								<h3>The Solution</h3>
								<div class="row">
									<div class="col-md-4">
										<p>
											A simple and user-friendly, web-based UI was made for a quick lookup experience. The tool was essentially a Single Page Application that contained a sole function.
										</p>
									</div>
									<div class="col-md-4">
										<p>
											The layout was crafted for optimal presentation on iPad horizontal screen orientations. The UI components were optimized for a touch-friendly interaction, with bigger font sizing.
										</p>
									</div>
									<div class="col-md-4">
										<p>
											Contrast was key since there was possibility of this UI being used outdoors, so we stuck to a simple very dark grey and white theme.
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-12 img">
								<img
									src="/images/work/rmrl/rmrl-result-kiosk@2x.png"
									class=""
									alt={title}
								/>
							</div>
						</div>
					</a>
				</div>
			</div>
			<hr />
		</div>
	</section>
	<section class="row gx-md-5 section-portfolio">
		<div class="col-xl-3 pr-5 section-portfolio-label">
			<i class="fa-solid fa-rotate"></i>
			<h2 class="pr-5">Key Takeaways &amp; Iteration</h2>
		</div>
		<div class="col-xl-9">
			<div class="row gx-md-5 mb-5">
				<div class="col-xl-4">
					<div class="card card-normal">
						<h3>Consistency is Key</h3>
						<ul>
							<li>
								Especially in larger scale software UI’s that
								begin to scale rapidly. As new features and
								section are added, designs and developers can
								easily lose sight and control of the visual
								design language. Our component library provided
								the conistency needed as the platform grew.
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="card card-normal">
						<h3>Study the User</h3>
						<ul>
							<li>
								Simply watching over the shoulders of end-users
								interfacing with the tools at live events,
								quickly provided the team with valuable
								information on software usage and patterns. With this feedback
								we were able to quickly iterate on design sprints.
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="card card-normal">
						<h3>Thoroughly Test and QA</h3>
						<ul>
							<li>
								As a growing company, we began to establish
								best-practices for quality assurance and
								deployment. From a design standpoint, I
								established my own process of performing
								thorough design checks on a staging site before
								our changes were deployed live.
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="row gx-md-5 section-portfolio mb-5">
		<div class="col-xl-3 col-12 pr-5 section-portfolio-label">
			<!-- <i class="fa"></i> -->
			<h2 class="pr-5">Next steps&hellip;</h2>
		</div>
		<div class="col-xl-4 col-6 pt-3">
			<p><a href="/portfolio">Back to Portfolio</a></p>
		</div>
		<div class="col-xl-5 col-6 pt-3 text-end">
			<p><a href="#">Back to Top</a></p>
		</div>
	</section>
</Layout>
